@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

/* ------------------------------------------------General */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flashes {
  background-color: #f3a7a7;
  max-height: 50px;
  padding: 15px 5px;
  font-weight: 400;
}

.body-custom {
  background: linear-gradient(to left, #4a6274, #d9e5ee);
  font-family: "Roboto", sans-serif;
}

.uppercase {
    text-transform: uppercase;
}

hr.solid {
  border-top: 2px solid #4a6274;
  width:85%;
}


/* ------------------------------------------------NAVBAR */

.nav-bg {
  background-color: #4a6274;
}

.navbar-brand {
  padding: 10px 5px;
  font-weight: 700;
  font-size: 40px;
}

.nav-item {
  font-weight: 400;
  font-size: 20px;
  padding-left: 5px;
}

/* -------------------------------------base/footer*/

.footer-container {
  min-height: 100px;
  margin-top: 20px;
  justify-content: center;
  background-color: #4a6274;
}

.icon-footer {
   color: #f3a7a7; 
}


.footer-link{
   color: #212529;
}

.footer-link:hover{
   color: #f3a7a7;
}
/* ------------------------------------------------Register/login */

.icon-color {
  color: #f3a7a7;
  background-color: #4a6274;
  size: 32px;
}

.btn-large {
  color: #f3a7a7;
  background-color: #4a6274;
  height: 50px;
  font-weight: 300;
  font-size: 18px;
}

.btn-large:hover {
  color: #4a6274;
  background-color: #f3a7a7;
}

.h2-custom {
  color: #4a6274;
  font-weight: 700;
  font-size: 50px;
}

.custom-link {
  color: #2d3c47;
  font-weight: 500;
  font-size: 20px;
  text-decoration: underline;
}

.custom-link:hover {
    color: #f3a7a7;
}

/* ------------------------------------------------Add Profile */

/* credit: code for vertical Tabs taken from https://bootstrapious.com/p/bootstrap-vertical-tabs
and edited slightly to fit project needs */

.nav-pills-custom .nav-link {
  color: #000;
  background: #4a6274;
  position: relative;
}

.nav-pills-custom .nav-link.active {
  color: #4a6274;
  background: #f3a7a7;
}

/* Add indicator arrow for the active tab */
@media (min-width: 892px) {
  .nav-pills-custom .nav-link::before {
    content: "";
    display: block;
    border-top: 8px solid transparent;
    border-left: 10px solid #f3a7a7;
    border-bottom: 8px solid transparent;
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    opacity: 0;
  }
}

.nav-pills-custom .nav-link.active::before {
  opacity: 1;
}

/* ------------------------------------------------portfolios */

.card-shop {
  margin: 10px;
  padding: 5px;
}

.card-bg {
  background-color: #f3f1f1;
  box-shadow:  0 5px 10px 10px rgb(68, 67, 67);
}

.btn-search{
  color: #f3a7a7;
  background-color: #4a6274;
  margin: 5px; 
  width: 90%; 
}

/* ----------------------------------------------intro section/Manage Profile */

.intro {
  min-height: 85vh;
  background-image: url(https://images.unsplash.com/photo-1489844097929-c8d5b91c456e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* ----------------------------------------------About/Manage Profile */
.card-about{
    background: #fafafa;
    box-shadow:  0 5px 10px 10px rgb(68, 67, 67);
}

.icon-about {
    color: #4a6274;
}

.icon-about:hover {
    color: #f3a7a7;
}


/* ----------------------------------------------Work history/Manage Profile */

.history-heading {
  color: #000000;
  margin-bottom: 50px;
}

.timeline-item {
  padding: 4em 2em 0em 2em;
  position: relative;
  color: #000000;
  border-left: 1px solid;
}

.timeline-item p {
  padding: 0;
  margin: 0;
}

.timeline-item:before {
  content: attr(data-dates);
  position: absolute;
  left: 2.5em;
  top: 3em;
  display: block;
  font-family: "Exo", sans-serif;
  font-weight: 500;
  font-size: 0.8em;
  padding: 0;
  margin: 0;
}

.timeline-item:after {
  width: 12px;
  height: 12px;
  display: block;
  top: 2.4em;
  position: absolute;
  left: -6px;
  border-radius: 12px;
  content: "";
  background: #000000;
}

.history-items {
  margin-bottom: 30px;
}

/* ----------------------------------------Skills/Manage profile */

.progress {
  position: relative;
  height: 20px;
  margin-bottom: 4px;
  line-height: 2;
}

.progress-bg {
  background-color: #f3a7a7;
}

.progress-type {
  position: absolute;
  left: 0px;
  font-weight: 400;
  padding: 3px 30px 2px 10px;
  color: #fafafa;
  background-color: rgba(25, 25, 25, 0.2);
}

.progress-section {
  margin: 40px 20px;
}

/* -------------------------------------------------------------/My profile */

/* -------------------------------------main-container/my profile*/

.main-container {
  min-height: 85vh;
  background-image: url(https://miro.medium.com/max/3840/1*ee9Ji2ToUxeYfj3YUQ1xsA.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}


.width-auto {
    width: auto;
}

.text-lg {
    font-size: 2rem;
}

.carousel-indicators li {
    border: none;
    background: #ccc;
}

.carousel-indicators li.active {
    background: #4a6274;
}

/* -------------------------------------about me-container/my profile*/

.about-container {
  min-height: 90vh;
  margin-bottom: 30px;
  margin-top: 80px;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.about-p-container {
  align-items: left;
  display: flex;
  margin-top: 40px;
}

.about-p {
  font-size: 20px;
  text-align: left;
  line-height: 2;
}

/*skills*/

.skill-container {
  min-height: 50vh;
  margin-bottom: 30px;
  margin-top: 50px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  width: 85%;
  box-shadow:  0 5px 10px 10px rgb(68, 67, 67);
}

.skill-list {
  margin-top: 50px;
}

.progress-container {
  margin-top: 30px;
}

.progress-p {
  font-size: 15px;
  margin-top: 10px;
}

.progress-icon {
  font-size: 40px;
}

.html-clr{
    color: rgb(224, 2, 2);
}

.css-clr{
    color: rgb(109, 109, 247);
}

.js-clr{
    color: rgb(250, 250, 17);
}

.python-clr{
    color:#0d5b9b;
}

.sql-clr{
    color: #06a54e;
}

.skillist{
   align-items: center; 
}

.progress-container{
    padding: 25px;
}

.my_progress {
  width: 100px;
  height: 100px;
  background: none;
  position: relative;
}

.my_progress::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 6px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
}

.my_progress>span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.my_progress .progress-left {
  left: 0;
}

.my_progress .progress-circle {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 6px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.my_progress .progress-left .progress-circle {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.my_progress .progress-right {
  right: 0;
}

.my_progress .progress-right .progress-circle {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}


.progress-value {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25%;
  box-sizing: border-box;
}

.progress {
    position: relative;
    height: 25px;
    margin-bottom: 4px;
}

.progress-type {
    position: absolute;
    left: 0px;
    font-weight: 400;
    padding: 3px 30px 2px 10px;
    color: #fafafa;
    background-color: rgba(25, 25, 25, 0.2);
}

/* -------------------------------------my projects-container/my profile*/

.projects-container {
 margin-bottom: 30px;
  margin-top: 80px;
  text-align: center;
  align-items: center;
  width: 85%;
}

.project {
  align-items: center;
  justify-content: center;
  margin-top: 30px;
} 

.projects-p {
  font-size: 20px;
  margin-top: 20px;
}

.project-desc {
  text-align: left;
  padding: 20px;
  line-height: 2;
}

.project-name {
  font-weight: bold;
}

.project-img {
  max-width: 90%;
  max-height: 300px;
  display: block;
  margin-top: 30px;
  border-radius: 10%;
  box-shadow:  0 5px 10px 10px rgb(68, 67, 67);
}

/* -------------------------------------my contact/my profile*/

.contact-container {
  min-height: 85vh;
  margin-bottom: 30px;
  margin-top: 50px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  width: 85%;
  box-shadow:  0 5px 10px 10px rgb(68, 67, 67);
}



/* credit: code for floating buttons taken from https://www.w3schools.com/howto/howto_js_scroll_to_top.asp 
and edited slightly to fit project needs */

#to-top-btn {
  position: fixed;
  bottom: 15px;
  right: 5px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  color: #f3a7a7;
  opacity: 0;
  background-color: transparent;
  -webkit-transition: all 0.5s ease-in-out 0.2s;
  transition: all 0.5s ease-in-out 0.2s;
}

#to-top-btn.active {
  pointer-events: auto;
  opacity: 0.5;
}

#to-top-btn.active:hover {
  opacity: 1;
}
