@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flashes {
  background-color: #f3a7a7;
  max-height: 50px;
  padding: 15px 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.body-custom{

    background: linear-gradient(to left, #4a6274, #d9e5ee);
}


/* ------------------------------------------------NAVBAR */

.nav-bg {
  background-color: #4a6274;
  
}

.navbar-brand {
  padding: 10px 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 30px;
}

.nav-item {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  padding-left: 5px;
}

/* ------------------------------------------------Register/login */


.icon-color {
  color: #f3a7a7;
  background-color: #4a6274;
  size: 32px;
}

.btn-large {
  color: #f3a7a7;
  background-color: #4a6274;
  height: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.btn-large:hover,
.btn-large:focus {
  color: #4a6274;
  background-color: #f3a7a7;
}

.h2-custom {
  color: #4a6274;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 50px;
}

.custom-link {
  color: #4a6274;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

/* ------------------------------------------------Add Profile */

.nav-pills-custom .nav-link {
    color: #000;
    background: #4a6274;
    position: relative;
}

.nav-pills-custom .nav-link.active {
    color: #4a6274;
    background: #f3a7a7;
}


/* Add indicator arrow for the active tab */
@media (min-width: 892px) {
    .nav-pills-custom .nav-link::before {
        content: '';
        display: block;
        border-top: 8px solid transparent;
        border-left: 10px solid #fff;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        opacity: 0;
    }
}

.nav-pills-custom .nav-link.active::before {
    opacity: 1;
}

/* ------------------------------------------------Profile shop */


.card-shop{
    margin:10px;
    padding: 5px;
}

.card-bg{
    background-color: #f3a7a7;
}

/* credit: code for floating buttons taken from https://www.w3schools.com/howto/howto_js_scroll_to_top.asp 
and edited slightly to fit project needs */
#to-top-btn {
  position: fixed;
  bottom: 15px;
  right: 5px;
  z-index: 99;
  border: none;
  outline: none;
  cursor: pointer;
  color: #ed6a5a;
  opacity: 0;
  background-color: transparent;
  -webkit-transition: all 0.5s ease-in-out 0.2s;
  transition: all 0.5s ease-in-out 0.2s;
}

#to-top-btn.active {
  pointer-events: auto;
  opacity: 0.5;
}

#to-top-btn.active:hover {
  opacity: 1;
}