@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flashes {
  background-color: #f3a7a7;
  max-height: 50px;
  padding: 15px 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

/* ------------------------------------------------NAVBAR */
.nav-bg {
  background-color: #4a6274;
}

.navbar-brand {
  max-height: 80px;
  padding: 10px 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: rgb(12, 12, 12);
  font-size: 30px;
}

.nav-item {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: rgb(12, 12, 12);
  font-size: 25px;
  padding-left: 5px;
}

/* ------------------------------------------------Register/login */

.custom-card {
  background-color: rgb(247, 245, 245);
}

.icon-color {
  color: #f3a7a7;
  background-color: #4a6274;
  size: 32px;
}

.btn-large {
  color: #f3a7a7;
  background-color: #4a6274;
  height: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 30px;
}

.btn-large:hover,
.btn-large:focus {
  color: #4a6274;
  background-color: #f3a7a7;
}

.h2-custom {
  color: #4a6274;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 50px;
}

.custom-link {
  color: #f59393;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
