{% extends "base.html" %} {% block content %}

<h2 class="text-center p-5 h2-custom">Edit Skill</h2>

<div class="justify-content-center card col-md-8 offset-md-2 custom-card">
    <div class="card-body">
        <form class="card-text" method="POST" action="{{ url_for('edit_skill', skill_id=skill._id) }}">
            <div class="row">
                <!--skill name -->
                <div class="input-group col-12 mb-4">
                    <div class="input-group-prepend">
                        <div class="input-group-text icon-color">
                            <i class="fas fa-bolt"></i>
                        </div>
                    </div>
                    <input class="form-control form-control-lg validate" value="{{ skill.skill_name }}" id="skill_name"
                        name="skill_name" type="text" required />
                </div>
            </div>

            <!-- percent -->
            <div class="row">
                <div class="input-group col-12 mb-4">
                    <div class="input-group-prepend">
                        <div class="input-group-text icon-color">
                            <i class="fas fa-percent"></i>
                        </div>
                    </div>
                    <input class="form-control form-control-lg validate" value="{{ skill.percent }}" id="percent"
                        name="percent" type="number" />
                </div>
            </div>

            <!-- submit button -->
            <div class="row">
                <div class="col-md-6">
                    <!-- cancel button -->
                    <a href="{{ url_for('manage_profile', username=session['user'])}}"
                        class="btn-large btn-block text-center pt-3">
                        Cancel <i class="fas fa-times-circle right"></i>
                    </a>
                </div>
                <div class="col-md-6">
                    <button type="submit" class="btn-large btn-block">
                        Edit Your skill Information
                        <i class="fas fa-edit right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}