{% extends "base.html" %} {% block content %}

<section id="privacy-policy" class="container pt-5">
    <div class="col-12 text-center">
        <h1> FAQ's </h1>
        <hr>
    </div>
    <div class="col-12">
        <h3 class="py-2"> 1- What’s Jobpass ?</h3>
        <p> Jobpass is a website where you can create your own profile and update it with your personal and work
            experience. A CV look and feel will be generated upon completing all necessary information. You will be able
            to manage your profile after that and amend any information if you wish


        </p>
        <hr>
        <h3 class="py-2"> 2- How can I register to Jobpass?</h3>
        <p>Through Register Tab, you can set your desired User Name as well as Password and then your account will be
            created
        </p>
        <hr>
        <h3 class="py-2"> 3- What are the needed details while creating a new profile?</h3>
        <p>
            users are requested to add below details:<br>
                Basic Information<br>
                Projects Information<br>
                Work Experience<br>
                Skills Information<br>
                Language Information

        </p>
        <hr>
        <h3 class="py-2"> 4- Can I edit any information after adding it?</h3>
        <p>
            Yes, you can edit and even delete if you wish only by selecting Manage Profile Tab, then you need to edit the part you wish and complete the action
        </p>
        <hr>
        <h3 class="py-2"> 5- How many projects or skills I can add?</h3>
        <p>
            You can add as much as you wish. It’s unlimited
        </p>
        <hr>
        <h3 class="py-2"> 6- How can you reach out to me if you need a support?</h3>
        <p class="pb-2">
            You can approach me through Contact Me tab. All you need to do is sending me a message and I’ll respond back
        </p>

    </div>
</section>

{% endblock %}