{% extends "base.html" %} {% block content %}

<section id="privacy-policy" class="container pt-5">
    <div class="col-12">
        <h1>Privacy Policy</h1>
        <hr>
    </div>
    <div class="col-12">
        <p>We are committed to protecting and preserving the privacy of our visitors when visiting our site or
            communicating electronically with us. This policy sets out how we process any personal data we collect from
            you or that you provide to us through our website. We confirm that we will keep your information secure and
            that we will comply fully with all applicable EU Data Protection legislation and regulations. Please read
            the following carefully to understand what happens to personal data that you choose to provide to us, or
            that we collect from you when you visit this site. By visiting our website you are accepting and consenting
            to the practices described in this policy.
        </p>

        <h3 class="pt-5">Types of information we may collect from you</h3>
        <hr>
        <p>We may collect, store and use the following kinds of personal information about individuals who visit and use
            our website:
            Information you supply to us. You may supply us with information about you by filling in forms on our
            website. This includes information you provide when you submit a contact/information form, or create a new
            activity listing for Jobpass. The information you give us may include your name, address, e-mail address and
            phone number etc.
        </p>
        <h3 class="pt-5">Disclosure of your information</h3>
        <hr>
        <p>
            Any information you provide to us will either be emailed directly to us or may be stored on a secure
            Database. We do not rent, sell or share personal information about you with other people or non-affiliated
            companies. We will use all reasonable efforts to ensure that your personal data is not disclosed to
            regional/national institutions and authorities, unless required by law or other regulations.

        </p>
        <h3 class="pt-5">Your rights – access to your personal data</h3>
        <hr>
        <p>
            You have the right to ensure that your personal data is being processed lawfully (“Subject Access Right”).
        </p>
        <h3 class="pt-5">Changes to our privacy policy</h3>
        <hr>
        <p class="pb-5">
            Any changes we may make to our privacy policy in the future will be posted on this page. Please check back
            frequently to see any updates or changes to our privacy policy.
        </p>

    </div>
</section>

{% endblock %}