{% extends "base.html" %} {% block content %}

    <h2 class="text-center p-5 h2-color " >Register</h2>

<div class="justify-content-center card col-md-10 offset-md-1 custum-card">
<div class="card-body">
  <form class="card-text" method="POST" action="{{ url_for('register') }}">
    <div class="form-group">
      <!-- username -->
      <div class="row align-items-center">
        <div class="col-12 pt-3">
          <label class="sr-only" for="username">Username</label>
          <div class="input-group mb-4">
            <div class="input-group-prepend">
              <div class="input-group-text icon-color">
                <i class="fas fa-user-plus"></i>
              </div>
            </div>
            <input
              class="form-control form-control-lg validate"
              placeholder="Username"
              id="username"
              name="username"
              minlength="5"
              maxlength="15"
              pattern="^[a-zA-Z0-9]{5,15}$"
              type="text"
              required
            />
          </div>
        </div>
      </div>
      <!-- passowrd -->
      <div class="row align-items-center">
        <div class="col-12 pt-3">
          <label class="sr-only" for="password">Password</label>
          <div class="input-group mb-4">
            <div class="input-group-prepend">
              <div class="input-group-text icon-color">
                <i class="fas fa-user-lock"></i>
              </div>
            </div>
            <input
              class="form-control form-control-lg validate"
              placeholder="Password"
              id="password"
              name="password"
              minlength="5"
              maxlength="15"
              pattern="^[a-zA-Z0-9]{5,15}$"
              type="password"
              required
            />
          </div>
        </div>
      </div>

      <!-- register -->
      <div class="row pt-3">
        <button type="submit" class="col-12 btn-large">
          Register <i class="fas fa-sign-in-alt"></i>
        </button>
      </div>
    </div>
  </form>
</div>
</div>

{% endblock %}
