{% extends "base.html" %} {% block content %}

<h2 class="text-center pt-5 pb-3 h2-custom uppercase">Profile Shop</h2>

<div class="row justify-content-center card col-md-8 offset-md-2 custom-card mb-4">
    <form action="{{ url_for('search') }}" method="post" class="col">
        <div class="row">
            <div class="input-field form-control-lg col-md-9 ">
                <i class="fas fa-search "></i>
                <input type="text" name="query" id="query" minlength="2" class="validate"
                    placeholder="Search Profile Card" style="width: 90%" required>
            </div>
            <div class="col-md-3">
                <a href="{{ url_for('shop') }}" class="btn ">Reset</a>
                <button type="submit" class="btn">
                    <i class="fas fa-search left"></i> Search
                </button>
            </div>
        </div>
    </form>
</div>
{% if basics|length > 0 %}
<div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 justify-content-center ">
    {% for basic in basics %}
    <div class="card card-bg card-shop">
        <div class="card-body">
            <h5 class="card-title uppercase">{{ basic.first_name }} {{ basic.last_name }}</h5>
            <p class="card-text">
                Curent Work : {{ basic.cur_title }}<br>
                Phone : {{ basic.phone }}<br>
                Email : {{ basic.email }}<br>
                Education : {{ basic.education }}<br>
                Adress : {{ basic.adress }}
            </p>
            <p class="card-text">
                <small class="text-muted">You can find full profile here</small>
            </p>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<h3 class="text-center">No Results Found</h3>
{% endif %}


{% endblock %}